@{
    ViewBag.Title = "Index";
}

<h2>Data Administration</h2>

<p>
    @Html.ActionLink("Users", "Users", "Account")
</p>
<p>
    @Html.ActionLink("Event Flags", "EventFlags", "Admin")
</p>
