@{
    ViewBag.Title = "About";
}

<h2>Jai Swaminarayan!</h2>
<p>
    BAPS Address Manager website is used to keep track of BAPS guest information at your local mandir. Purpose of BAPS Addresss Manager website is to make database management easy for the Network & PR team. Some of the features and uses of this application are listed below:
</p>

<ul>
    <li>Easy to use UI makes your database maintenance easy.</li>
    <li>Authenticates users before allowing access to data.</li>
    <li>Allows assigning roles to user based on the type of activity users will be doing on the website.</li>
    <li>Allows to manage contact and family member information of all devotees who attend mandir.</li>
    <li>Ability to add new flags to the database and assign it to a guest to keep track of important information.</li>
    <li>Generate reports for invitation mailing for special events at your mandir.</li>
</ul>

<p>
    © 2012 Bochasanwasi Shri Akshar Purushottam Swaminarayan Sanstha (BAPS Swaminarayan Sanstha).
</p>